body {
    margin: 0;
}

* {
    box-sizing: border-box;
}

.sidebar {
    display: flex;
    flex-wrap: wrap;
    border-right: 1px solid;
    flex-direction: column;
    background-color: red;
    width: 164px;
    padding: 1.5em 0.75em;
    align-items: center;
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    left: 0
}

.sidebar-main {
    display: flex;
    height: 60%;
    align-items: center;
    padding: 0.5em;
    background-color: grey;
    margin-top: 1.5rem;
}

.sidebar-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 0;
}

.sidebar-contents {
    list-style: none;
    padding: 2em 0;
    
}

.profile-img {
    border-radius: 50%;
}

.main {
    margin-left: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main-img {
    width: 100%;
    height: 100vh;
    background-color: cyan;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-text {
    
}

.main-status {
    width: 20%;
    height: 10%;
    position: absolute;
    background-color: white;
    right: 5%;
    bottom: 15%;
}
